.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore all text files in tahoe nearshore network subfolder of data folder
data/Tahoe_nearshore_network_data/*.txt

#ignore pdf files in same folder
data/Tahoe_nearshore_network_data/*.pdf

# ignore plots folder
plots/*